*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.navbar-1 span, .con-4 span{
    color: rgb(0, 219, 0);
}
.con-3 span{
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.container{
    min-width: 1000px;
    min-height: 1000px;
}
.container .con-2{
    min-width: 1000px;
    min-height: 0px;
}
.container .con-4{
    min-width: 1000px;
    min-height: 0px;
}
.navbar{
    display: flex;
    padding: 0%;
}
.navbar .container-fluid{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    line-break: auto;
    padding-bottom: 10px;
    justify-content: center;
}
.container-fluid a{
    font-weight: 700;
    font-size: 13px;
}
.container-fluid ul li a{
    margin-right: 11px;
}
.navbar-1{
    padding-left: 24%;
}
.navbar-1 a{
    font-size: 24px;
    font-weight: 500;
}
.navbar-nav{
    display: flex;
    margin-left: auto;
    background-color:rgb(255, 255, 255);
}
/* Container con-2 */
.con-2 {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.con-2 h1{
    padding-top: 90px;
    padding-bottom: 20px;
    font-weight: 50;
}
.con-2 p{
    font-weight: 200;
}
.con-2 .row{
    height: inherit;
    margin-top: 60px;
    padding: 10px 200px;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}
.row .judul{
    font-size: 10px;
    font-weight: 700;
}
.kolom1, .kolom2, .kolom3{
    padding: 20px 25px;
    margin-bottom: 40px;
    font-size: 10px;
    text-align: center;
}
/* SVG */
.row embed{
    width: 70px;
    height: 70px;
    padding: 1rem;
}

/* Container con-3  */
.con-3{
    height: inherit;
    background-color: rgb(255, 255, 255);
}
.con-3 img{
    height: 730px;
}
.row .col-4{
    background-color: rgb(255, 255, 255);
    padding-left: 130px ;
    width: 480px;
}
.row .col-8{
    background-color: rgb(255, 255, 255);
    width: 780px;
}
.row .col-8 h1 {
    font-weight: 100;
    padding-top: 60px;
    font-size: 50px;
}
.row .col-8 .lh-lg, h1{
    padding: 15px 30px;
}
.col-8 p{
    padding: 0px 30px;
}
.row .col-8 p{
    padding-right: 90px;
    font-size: 17px;
}
.icon{
    padding: 10px 10px;
}
.col-1 i{
    height: 1px;
    width: auto;
    margin-left: 15px;
}
.col-10 p{
    padding: 0;
    margin-left: -30px;
    letter-spacing: 1.5px;
}
/* Container con-4 */
.con-4{
    height: 300px;
    background-color: rgb(0, 0, 0);
}
.footer .col-4, .col-2{
    margin: 50px 10px;
    height: 200px;
    padding: 30px 0px;
}
.footer .row .col-4{
    margin-left: 100px;
    width: 400px;
    background-color: rgb(0, 0, 0);
}
.col-4 h4, .col-2 h4{
    letter-spacing: 1.8px;
    padding-left: 30px;
}
.con-4 ul li{
    list-style-type: none;
}
.footer .col-2{
    background-color: rgb(0, 0, 0);
    width: 150px;
}
.col-2 h4, .col-4 p{
    font-size: 17px;
}
.col-2 a{
    font-size: 14px;
}
.col-2 a:hover{
    color:rgb(0, 219, 0);
}
.row .col-4, .row .col-2, .footer .row a{
    color: rgb(255, 255, 255);
}